@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.text-orange{
    color:  #FF900E;;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.text-logo{
    font-size: 3rem;
    font-weight: bold;
    color:#131313
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    height: 64px;
    width: 180px;
    padding: 20px 25px;
   

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
margin-top: 130px;
}











.navbar{
    justify-content: space-between;
    align-items: center;
   

}
.navbar .brand{
     
}
.nav-links{

}
.nav-item{
    list-style: none;
    
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    

}
.brand{

}
.banner-content{
    max-width: 862px;
    
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;


}
.our-features{
    padding-left: 73px;
    max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}


#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 24px;
}
.featured-architect{
    width: 100%;
}
.features{
    gap: 146px;
}
.features-card{
 padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom:20px ;
    border-radius: 8px;
}
.features-card .features-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
   
}


#ex-badge{
    padding: 45px 22px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#ex-year{
    font-weight: 700;
    font-size: 4rem;
}

.fact-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    vertical-align: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:5px ;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}
.sponsor-company img{
    filter: grayscale(100%);
}






























@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams,
    .features
    
    {
        flex-direction: column;
    }
    .team-img-container, 
    .fact-container,
    .sponsor-company{
        grid-template-columns: repeat(1,1fr);
    }
    .fact-container,
    .sponsor-company
    {
        justify-content: center;
        gap: 5px;
    }
    #ex-badge{
      margin-top: 20px;
      margin-left: 20px;  
    }
    
}
@media screen and(min-width:576px) and (max-width:992px) {
    .teams,.features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-company,
    .fact-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
}